<div class="container-fluid w-100" style="padding-left: 200px;padding-right: 200px">

  <h1>Logistic Regression</h1>

  <div class="container-fluid card-style d-flex flex-row justify-content-around align-items-center">
    <div
      *ngIf="result"
      [class.text-danger]="result.result === 'STOLEN'"
      [class.text-success]="result.result === 'RECOVERED'">
      <h1>{{result.result}}</h1>
    </div>

    <div *ngIf="!result"><strong>Hello!!</strong></div>
  </div>
  <form [formGroup]="regressionForm">

    <div class="form-group mb-3">
      <label for="daysOfWeek" class="bold-label">Days of week</label>
      <select class="form-control" formControlName="daysOfWeek" id="daysOfWeek">
        <option *ngFor="let type of daysOfWeek" [value]="type.value">{{type.label}}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="neighborhoodName" class="bold-label">Neighborhood Name</label>
      <select class="form-control" formControlName="neighborhoodName" id="neighborhoodName">
        <option *ngFor="let type of neighborhoodName" [value]="type.value">{{type.label}}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="locationType" class="bold-label">Location Type</label>
      <select class="form-control" formControlName="locationType" id="locationType">
        <option *ngFor="let type of locationType" [value]="type.value">{{type.label}}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="premiseType" class="bold-label">Premise Type</label>
      <select class="form-control" formControlName="premiseType" id="premiseType">
        <option *ngFor="let type of premiseType" [value]="type.value">{{type.label}}</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="bikeSpeedRange" class="bold-label">Bike Speed Range</label>
      <select class="form-control" formControlName="bikeSpeedRange" id="bikeSpeedRange">
        <option *ngFor="let type of bikeSpeedRange" [value]="type.value">{{type.label}}</option>
        <option value="0">Other</option>
      </select>
    </div>

    <div class="form-group mb-3">
      <label for="bikeCost" class="bold-label">Bike Cost Range</label>
      <select class="form-control" formControlName="bikeCost" id="bikeCost">
        <option *ngFor="let type of bikeCost" [value]="type.value">{{type.label}}</option>
      </select>
    </div>

    <div class="form-group">
      <button  class="btn btn-outline-primary" type="submit" (click)="predict()">Check</button> &nbsp;&nbsp;&nbsp;&nbsp;
      <button  class="btn btn-outline-warning" (click)="resetForm()">Reset</button>
    </div>
  </form>
</div>



