/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}
.card-style {
  border-radius: 5px;
  height: 50px;
  text-align: center;
}
.bold-label {
  font-weight: bold;
}
body {
  background-image: url("https://media.istockphoto.com/vectors/criminal-stealing-bicycle-vector-illustration-caucasian-man-in-black-vector-id1179640320?k=20&m=1179640320&s=612x612&w=0&h=j2ZhG1Gw4R1FLrk0iiG3d_SbWmxVfm9DpJ6btiVaNrQ=");
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-position: bottom;
}
input,select {
  opacity: 0.5;
}
