/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
  cursor: pointer;
}
.card-style {
  border-radius: 5px;
  height: 50px;
  text-align: center;
}
.bold-label {
  font-weight: bold;
}
